/*
1)color
2) background color
3) text-decoration
4) text-transform
5) line-height
6) letter-spacing
7) box-shadow: x-axes y-axes breul spread 

*/

ol , ul {
    background-color: aqua;
    font-size: 35px;
    font-weight: bolder;
}
#this1{
    font-size: 80px;
    font-family: 'Courier New', Courier, monospace;
}
p{
    background-color: blueviolet;
    color: white;
}
*{
    background-color: aliceblue;
    color: black;
}

.first{
    background-color: orangered;
}

p.first , span.second{
    letter-spacing: 10px;
    background-color: black;
    color:white
}
p span{
    background-color: aqua;
}
p + span{
    line-height: 10px;
}

p~span{
    background-color: black;
    color: red !important  ;}

*{

}
span::after{
    content: '/****/';
}
span:hover{
    background-color: blueviolet;
}
span:target{
    color: black
}
div.shadow{
    border: 1px black solid;
    box-shadow: 2px 2px 2px 2px inset;
}
div.shadow{
    width: 250px;
    height: 25px;
    border: 1px salmon solid;
    box-shadow: 2px 2px 5px 4px ;
}
div.shadow:hover{
    border: 1px gold solid;
    box-shadow: 2px 2px 5px 1px inset;
}

body{
    border: 5px inset rgba(15, 207, 73, 0.26);
    background-image: url("./img/bg.jpg");
    background-repeat: no-repeat;
    background-size:cover ;/* cover contain */
    background-position:center ;
    background-position-x: 155px;
    padding: 1px;
    margin: 20px;
}

.box{
    background-color: whitesmoke;
    color: black;
    font-weight: 900;
    height: 15px;
    width: 85px;
    /* border:2px dashed red ; */
    margin-left:50px ;
    padding: 5px;
    border-left: 10px red solid ;
    border-top: 10px black solid;
    border-bottom: green 10px solid;
    position: fixed;
    left: 500px;
    top: 400px;
}
.absol{
    background-color: black;
    color: white;
    height: 30px;
    width: 60px;
    position: absolute;
    top: 300px;
    left: 500px;
    padding: 15px;
}
nav ul{
    list-style: none;
    display: inline-block;
    position: sticky;
}
nav ul li{
    display: inline-block;
    margin: 20px;
    background-color: antiquewhite;
    position: sticky;
    top: 0;

}
header{
    background-color: white;
    position: sticky;   
    top: 1px;
    z-index: 1;
    
}
nav ul li:hover{
    color: white;
    position: sticky;
    top: 1px;
}
nav{
    position: sticky;
    top: 1px;
}

@media (max-width: 1250px){
    body{
        padding: 0;
        margin: 0;
        background-color: red;
        color: black;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }
    header{
        display: none;

    }

    h1{
        background-color: aliceblue;
        color: black;
    }   
    p{
        color: black;
        background-color: wheat;
        width: 85%;
        max-height: 150px;
    }
    ul {
        width: 85vw;
    }
    p.first{
        background-color: wheat;
        color: black;

    }
}
@media print{
    body{
        background-color: whitesmoke;
        color: black;
        border: none;
    }

}

