/*
1)color
2) background color
3) text-decoration
4) text-transform
5) line-height
6) letter-spacing
7) box-shadow: x-axes y-axes breul spread 

*/

ol , ul {
    background-color: aqua;
    font-size: 35px;
    font-weight: bolder;
}
#this1{
    font-size: 80px;
    font-family: 'Courier New', Courier, monospace;
}
p{
    background-color: blueviolet;
    color: white;
}
*{
    background-color: aliceblue;
    color: black;
}

.first{
    background-color: orangered;
}

p.first , span.second{
    letter-spacing: 10px;
    background-color: black;
    color:white
}
p span{
    background-color: aqua;
}
p + span{
    line-height: 10px;
}

p~span{
    background-color: black;
    color: red !important  ;}

*{

}
span::after{
    content: '/****/';
}
span:hover{
    background-color: blueviolet;
}
span:target{
    color: black
}
div.shadow{
    border: 1px black solid;
    box-shadow: 2px 2px 2px 2px inset;
}
div.shadow{
    width: 250px;
    height: 25px;
    border: 1px salmon solid;
    box-shadow: 2px 2px 5px 4px ;
}
div.shadow:hover{
    border: 1px gold solid;
    box-shadow: 2px 2px 5px 1px inset;
}